*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.container {
    
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    font-family: 'Arial', sans-serif;
}

.cont{
    display: flex;
    justify-content: center;
    margin-right: 10px;
}
.pass{
   justify-content: center;
    margin-right: 18px; 
    
}

h1 {
    
    margin-bottom: 20px;
    color:white;
    margin-top: 20px;
    font-size:50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Form styling */
#my-form {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    border: violet 2px solid;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 8px;
    margin-bottom: 70px;
    margin-top: 40px;
    padding: 15px;
    background-color: rgb(239, 215, 239);
}

/* Label styling */
label {
    margin-bottom: 8px;
    font-size: 16px;
    color: gray;
    font-weight: bold;
}


/* Input and textarea styling */
input[type="text"], textarea {
    padding: 20px;
    width: 100%;
    border: 1px solid gray;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 30px;
    font-size: 16px;
    margin-bottom: 40px;
    margin-top: 20px;
    margin-right:10px ;
    box-sizing: border-box;
    transition: border-color 0.3s;
}


input[type="text"]:focus, textarea:focus {
    border-color: grey;
    outline: none;
}

/* Button styling */


#my-form button[type="submit"] {
    background-color:gray; 
    color: white;              
    border: none;              
    padding: 12px 25px;        
    font-size: 16px;           
    font-weight: bold;         
    border-radius: 20px;        
    cursor: pointer;           
    transition: all 0.3s ease; 
}

/* Hover effect */
#my-form button[type="submit"]:hover {
    background-color: gray; 
    transform: scale(1.05);   
}

/* Active (click) effect */
#my-form button[type="submit"]:active {
    transform: scale(0.98);    
    background-color: gray; 
}
input[type="button"]:nth-of-type(2) {
    background-color: gray;
}

input[type="button"]:nth-of-type(2):hover {
    background-color:gray;
}
@media (max-width: 1000px) {
#my-form{
    width: 600px;
}
.menu-toggle{
    margin-top: -8px;
}

}

@media (max-width: 680px) {
#my-form{
    width: 380px;
}

.cont{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-bottom: -30px;
}
.menu-toggle{
    margin-top: -8px;
}
}








