* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

   

    @keyframes fadeScale {
      0% {
        opacity: 0;
        transform: scale(0.95);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }

    .prod1 {
      opacity: 0;
      animation: fadeScale 1s ease-out forwards;
      display: flex;
      gap: 40px;
      max-width: 1100px;
      margin: auto;
      flex-wrap: wrap;
      align-items: flex-start;
      margin-top: 50px;
      margin-bottom: 100px;
    }

    .product-image {
      flex: 1;
      border-radius: 20px;
      padding: 20px;
      display: flex;
      justify-content: center;
      max-width: 500px;
      margin-right: 40px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .hover-img {
      position: relative;
    }

    .hover-img img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      max-width: 500px;
      height: auto;
      transition: opacity 0.5s ease-in-out;
      border-radius: 12px;
      object-fit: cover;
      cursor: pointer;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .hover-img .hover-img-alt {
      opacity: 0;
      pointer-events: none;
    }

    .hover-img:hover .main-img {
      opacity: 0;
    }

    .hover-img:hover .hover-img-alt {
      opacity: 1;
    }

    .product-details {
      flex: 1;
      min-width: 300px;
    }

    .product-details h1 {
      font-size: 45px;
      margin: 10px 0;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .stars {
      color: #e91e63;
      margin-bottom: 20px;
      margin-top: 20px;
    }

    .stars span {
      color: #666;
      font-size: 14px;
    }

    .price {
      font-size: 20px;
      font-weight: bold;
      margin: 10px 0 20px;
    }

    .quantity label {
      font-size: 14px;
      color: #444;
    }

    .qty-controls {
      display: flex;
      border: 1px solid #ccc;
      border-radius: 25px;
      overflow: hidden;
      width: fit-content;
      margin: 10px 0 20px;
      padding: 3px;
   
    }

    .qty-controls:hover {
      border: 2px solid black;
    }

    .qty-controls button {
      width: 40px;
      height: 40px;
      font-size: 20px;
      border: none;
      background-color: white;
      cursor: pointer;
      color: black !important;
    }

    .qty-controls input {
      width: 70px;
      height: 40px;
      text-align: center;
      border: none;
      font-size: 16px;
      padding: 5px;
    }

    .cart-btn, .buy-now {
      width: 100%;
      padding: 12px;
      margin-bottom: 15px;
      border-radius: 30px;
      font-size: 16px;
      cursor: pointer;
      margin-top: 15px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
                  rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }

    .cart-btn {
      background-color: white;
      border: 2px solid #888;
      color: black !important;
    }

    .cart-btn:hover {
      border: 2px solid black;
    }

    .buy-now {
      background-color: violet;
      color: white;
      border: none;
    }

    .buy-now:hover {
      border: 2px solid violet;
    }

    .description h3 {
      margin-bottom: 10px;
      color: #333;
    }

    .description p {
      line-height: 1.6;
      font-size: 15px;
      margin-bottom: 10px;
    }


    .cart-drawer {
      position: fixed;
      top: 0;
      right: -100%;
      width: 350px;
      height: 100vh;
      background-color: #fff;
      box-shadow: -2px 0 10px rgba(0,0,0,0.1);
      z-index: 9999;
      transition: right 0.3s ease-in-out;
      padding: 20px;
      overflow-y: auto;
    }

    .cart-drawer.open {
      right: 0;
    }

    .cart-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .close-cart {
      background: none;
      font-size: 24px;
      border: none;
      cursor: pointer;
      color: black !important;
    }

    .cart-item {
      display: flex;
      align-items: center;
      gap: 10px;
      margin: 20px 0;
    }

    .cart-img {
      width: 60px;
      border-radius: 10px;
    }

    .cart-info {
      flex-grow: 1;
      margin-top: 10px;
    
      
      
    }

    .cart-total {
      font-weight: bold;
    }

    .instructions, .estimated {
      margin: 20px 0;
      font-size: 14px;
      color: gray;
      display: flex;
      justify-content: space-between;
      margin-top: 450px;
    }

    .checkout-btn {
      background-color: violet;
      color: white;
      border: none;
      width: 100%;
      padding: 12px;
      border-radius: 25px;
      font-size: 16px;
      cursor: pointer;
    }
    .bin{
      font-size:1.5rem;
      color: gray;
      cursor: pointer;
      margin-top: 100px;
      margin-right: 400px;
      right: 50px;
    
    }
    .empty{
      font-size: xx-large;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      justify-content: center;
      margin-top: 200px;

    }
    .empty .more {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 150px;
    background-color: violet;
    border: 1px solid violet;
    padding: 10px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    cursor: pointer;
    }


.footer {
 
  height: 100%;
  width: 100%;
  
}

.footer h3{
  color: violet;
  margin-top: 20px;
  margin-bottom: 10px;
}




.footer-bottom {
  margin-top: 100px;
  padding: 20px 10px;
  font-size: 13px;
  color: violet;
  
}





   @media (max-width: 1024px) {
    .qty-controls{
      margin-left: 20px;
    }
    

    .product-image {
      flex: 1;
      border-radius: 20px;
      padding: 20px;
      display: flex;
      justify-content: center;
      max-width: 1000px;
      margin-right: 40px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .hover-img {
      position: relative;
    }

    .hover-img img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      max-width: 1000px;
      height: auto;
      transition: opacity 0.5s ease-in-out;
      border-radius: 12px;
      object-fit: cover;
      cursor: pointer;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .hover-img .hover-img-alt {
      opacity: 0;
      pointer-events: none;
    }

    .hover-img:hover .main-img {
      opacity: 0;
    }

    .hover-img:hover .hover-img-alt {
      opacity: 1;
    }




      
    }
    
    

     @media (max-width: 500px) {
      .prod1{
        justify-content: center;
        display: flex;
        text-align: center;
        
        margin-left:45px;
      }
      .main-img .hover-img-alt{
       justify-content: center;
       width: 300px;
      }
      .product-page {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        margin-bottom: 50px;
      }

      .product-details {
        text-align: center;
        margin-top: 320px;
        margin-right: 40px;
      }
      .product-details h1{
        font-size: xx-large;

            
      }
      .menu-toggle {
   
    margin-left: -5px;
  }
  .close-btn{
    margin-top:14px;
  }
      

      .qty-controls {
        justify-content: center;
        margin-left: 70px;
      }

      .cart-btn, .buy-now {
        width: 90%;
      }
    }
     @media (max-width: 440px) {
      .qty-controls {
        justify-content: center;
        margin-left: 90px;
      }



     }
     @media (max-width: 400px) {
      .qty-controls {
        justify-content: center;
        margin-left: 70px;
      }



     }